html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

body * {
  font-family: inherit !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  transition: 0.5s;

  &[data-hidden='true'] {
    opacity: 0;
  }
}

.Root__username {
  &:hover {
    button {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition: 0.3s, visibility 0s ease 0s;
    }
  }

  button {
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5em);
    transition: 0.3s, visibility 0s ease 0.3s;
  }
}
